/* Search
--------------------------------------------- */
.wp-block-search {
	.wp-block-search__inside-wrapper {
		position: relative;

		.wp-block-search__input {
			height: 50px;
			width: 100%;
			border-radius: 3px;
			padding: 10px 50px 10px 20px;
			box-shadow: none;
			border: none;
			&::placeholder {
				color: #a0a0a0 !important;
				font-size: 10px !important;
				line-height: 48px !important;
				text-transform: uppercase;
			}
		}

		.wp-block-search__button {
			position: absolute;
			top: 6px;
			right: 6px;
			height: 38px;
			width: 38px;
			border-radius: 100%;
			font-size: 0;
			font-weight: 700;
			color: var(--rbb-general-heading-color);
			transition: 0.3s;
			transform: rotate(-90deg);

			&::before {
				content: "\e9a0";
				font-size: 16px;
				font-family: rbb-font, serif !important;
				transform: rotate(90deg);
				font-weight: 700;
			}

			&:hover {
				transition: 0.3s;
				&::before {
					color: var(--rbb-general-primary-color);
				}
			}
		}
	}
}
