body {
	left: 0;
	right: 0;
	position: relative;

	#page {
		position: relative;
		width: 100%;
		overflow: hidden;
	}

	&:not(.home) {
		.header-1 {
			position: relative;
		}

		.header-2 {
			border-bottom: 1px solid #eaeaea;
		}

		.header-5 {
			.rbb-header-bottom {
				border-bottom: 1px solid #e2e2e2;
			}
		}
	}

	&:not(.ecommax-home4, .ecommax-home6, .ecommax-home11) {
		background-color: #fff;
	}

	.archive-category {
		.blog_item {
			.blog_info {
				.blog_meta {
					.blog_date {
						span {
							&::before {
								content: "";
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								left: -15px;
								width: 5px;
								height: 5px;
								background-color: var(--rbb-general-heading-color);
								border-radius: 100%;
							}
						}
					}
				}
			}
		}
	}

}
